asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
contourpy==1.2.0
cycler==0.12.1
distlib==0.3.7
Django==4.2.6
django-bootstrap-icons==0.8.5
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
filelock==3.12.4
fonttools==4.49.0
gunicorn==21.2.0
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.3
MetaTrader5==5.0.45
numpy==1.26.3
packaging==23.2
pandas==2.1.4
Pillow==10.0.1
platformdirs==3.10.0
pyparsing==3.1.1
pypaystack==1.24
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
unicorn==2.0.1.post1
urllib3==2.0.6
virtualenv==20.24.5
whitenoise==6.6.0
